.about {
    p {
        font-size: 2.8rem;
        line-height: 4.5rem;
        letter-spacing: 1px;

        @media (max-width: 600px) {
            font-size: 4rem;
            line-height: 1.5;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50rem;

        .me {
            position: relative;
            height: 75rem;
            width: 50rem;
            margin-bottom: -40rem;

            &::after {
                content: "";
                position: absolute;
                opacity: .5;
                width: 100%;
                height: 100%;
                top: -2.5rem;
                left: -2.5rem;
                border: .5px solid $secondary;
                border-radius: 75rem 75rem 0 0;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 75rem 75rem 0 0;
                background-image: url(../../images/Kaisam.webp);
                background-size: cover;
                background-position: center;
                filter: brightness(0.8);
                z-index: 10;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 10;

            &__second {
                font-family: $ff5;
            }

            &__inner {
                margin-top: 15rem;
                width: 80rem;
                position: relative;

                .interest {
                    margin: 10rem 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    width: 98%;
                    height: .5px;
                    background: $secondary;
                }

            }
        }

    }

    .tech-stack {
        margin-top: 20rem;
        margin-bottom: 30rem;

        h3 {
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            margin-top: 7rem;

            li {
                list-style: none;
                font-family: $ff2;
                font-size: 5rem;
                font-weight: 400;
                margin: 5rem;
            }

            @media (max-width: 450px) {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}