.header {
    height: min(100vh, 1500px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::after {
        content: '';
        position: absolute;
        width: 50vh;
        height: 50vh;
        background: url(../../images/Circle_BG.webp);
        bottom: 25vh;
        align-self: center;
        border-radius: 50vh;
        background-size: cover;
        filter: brightness(0.8);

        @media (max-width: 600px) {
            width: 30vh;
        }
    }

    h1, h4, h5 {
        text-transform: uppercase;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: .5px;
            opacity: .5;
            background: $secondary;
            bottom: -4rem;
            left: 0;
        }

        h5 {
            font-family: $ff4;
            font-weight: 400;
            font-size: 3rem;
            letter-spacing: 1.5px;

            @media (max-width: 900px) {
                font-size: 5rem;
            }
        }

        ul {
            display: flex;

            @media (max-width: 600px) {
                display: none;
            }

            li {
                list-style: none;
                margin-left: 13rem;

                a {
                    text-decoration: none;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    
                    &:hover {
                        text-decoration: line-through;
                    }
                }

                @media (max-width: 900px) {
                    margin-left: 10rem;

                    a {
                        font-size: 3rem;
                    }
                }

            }
        }

        .nav-toggle {

            @media (min-width: 601px) {
                display: none;
            }

            padding: 10px;

            span {
                width: 30px;
                height: 1px;
                display: block;
                background: $secondary;

                &:last-of-type {
                    margin-top: 5px;
                }
            }
        }
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: min(100rem, 70vh);
        text-align: center;

        @media (max-width: 1024px) {
            height: 70vh;
        }

        &__upper {

            line-height: .9;
            padding: 0 15rem;

            @media (max-width: 900px) {
                padding: 0 10rem;
            }

            @media (max-width: 600px) {
                padding: 0 5rem;
            }

            h1 {
                font-size: 24rem;
                margin-bottom: 2rem;
                position: relative;
                z-index: 10;

                @media (max-width: 600px) {
                    margin-bottom: 10rem;
                }
            }

            .first {
                text-align: left;
            }

            .second {
                text-align: right;
                font-family: $ff5;

                @media (max-width: 600px) {
                    text-align: left;
                }
            }

            // h4 {
            //     font-size: 8rem;
            //     font-family: $ff2;
            //     font-weight: 100;
            //     text-align: center;
            // }  
    
            }

        
        &__lower {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .scroll {
                height: 6rem;
                width: 6rem;
                margin-bottom: 5rem;

                path {
                    fill: $secondary;
                  }
            }

            .kaisam {
                font-size: 4rem;
                opacity: .8;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 5rem;
                overflow: hidden;
                border-top: 1px solid $secondary;
                border-bottom: 1px solid $secondary;

                span {
                    margin: 0 2.5rem;
                }

            }

        }
    }
}